    #imagenNav{
        width: 100%;
    }
    
    footer {
      background-color:#2F3235; 
      color: aliceblue;
      bottom: 0;
      width:100%;
    }
    #copyright{
      background-color:#212529;
    }
    #contenido-footer{
      text-align: center;
    }