    #imagenNav{
        width: 100%;
    }
    
    footer {
      background-color:#2F3235; 
      color: aliceblue;
      bottom: 0px;
      width:100%;

    }
    #copyright{
      background-color:#212529;
    }
    #contenido-footer{
      text-align: center;
    }


    #formulario{
      background-color: #036CBC;
      color: black;
    }

    #formulario h1{
      text-align: center;
    }
    #botonesFormulario{
      text-align: center;
    }
    